In [1]:
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")
from pathlib import Path
#from millify import millify

1. vEHICLE vELOCITY 0 LEADS TO time headway of 99999
2. Verify the cars which change lanes. == 2226/2847 Cars change lanes at least once in US-101. 2182 out of 2999 in I-80
4. same vehicle ID has multiple class as well. 164 vehicle IDs have 2 classes in US-101. 219 in I-80.  Bad Data or calculate/fix vehicle length based on their class and frame ID. 
5.

In [18]:
p = Path().cwd()
print(f"original File path: {p}")
stringpath= str(p)[0:str(p).rfind('\\')] + '\\data'
print(f"Updated File Path to pick from Data Library: { stringpath}")
ngsimfile=stringpath + '/' + 'VERIFYFILE.CSV'
ngsim = pd.read_csv(ngsimfile,low_memory=False)
print(f"{ngsim.duplicated().sum()} duplicate values have been removed")
ngsim.drop_duplicates(inplace=True)

original File path: c:\Users\StudentAccount\Python\Capstone\gitcodelocation\DataDrivenCarFollowing\datadrivencarfollowing-v1\scripts
Updated File Path to pick from Data Library: c:\Users\StudentAccount\Python\Capstone\gitcodelocation\DataDrivenCarFollowing\datadrivencarfollowing-v1\data
0 duplicate values have been removed

In [3]:

filtered_ngsim_U= ngsim[((ngsim['Location'] == 'us-101')) ]
#These two vehicles have a bad trajectory and keep on following each other in a single lane in a matter of 
filtered_ngsim_I= ngsim[(ngsim['Location'] == 'i-80') ]

In [19]:
lane_verify= filtered_ngsim_U[['Vehicle_ID','Lane_ID']]
print(f"{lane_verify.duplicated().sum()} duplicate values have been removed")
lane_verify.drop_duplicates(inplace=True)
lane_verify=lane_verify.groupby(['Vehicle_ID'],as_index=False).count()
print(lane_verify.shape)
lane_verify[lane_verify["Lane_ID"]>1]['Vehicle_ID']

4091308 duplicate values have been removed
(2847, 2)

0          1
1          2
2          3
3          4
4          5
        ...
2838    3101
2839    3102
2842    3105
2844    3107
2845    3108
Name: Vehicle_ID, Length: 2226, dtype: int64

In [17]:
lane_verify= filtered_ngsim_I[['Vehicle_ID','Lane_ID']]
print(f"{lane_verify.duplicated().sum()} duplicate values have been removed")
lane_verify.drop_duplicates(inplace=True)
lane_verify=lane_verify.groupby(['Vehicle_ID'],as_index=False).count()
print(lane_verify.shape)
lane_verify[lane_verify["Lane_ID"]>1]['Vehicle_ID']

4548622 duplicate values have been removed
(2999, 2)

2          3
3          4
4          5
6          7
9         10
        ...
2990    3355
2994    3362
2995    3363
2996    3364
2997    3365
Name: Vehicle_ID, Length: 2182, dtype: int64

In [22]:
lane_verify= filtered_ngsim_U[['Vehicle_ID','v_Class']]
print(f"{lane_verify.duplicated().sum()} duplicate values have been removed")
lane_verify.drop_duplicates(inplace=True)
lane_verify=lane_verify.groupby(['Vehicle_ID'],as_index=False).count()
print(lane_verify.shape)
lane_verify[lane_verify["v_Class"]>1]

4095921 duplicate values have been removed
(2847, 2)

      Vehicle_ID  v_Class
0              1        2
13            14        2
48            49        2
59            60        2
85            86        2
...          ...      ...
2485        2543        2
2488        2548        2
2530        2592        2
2537        2599        2
2548        2613        2

[164 rows x 2 columns]

In [23]:
lane_verify= filtered_ngsim_I[['Vehicle_ID','v_Class']]
print(f"{lane_verify.duplicated().sum()} duplicate values have been removed")
lane_verify.drop_duplicates(inplace=True)
lane_verify=lane_verify.groupby(['Vehicle_ID'],as_index=False).count()
print(lane_verify.shape)
lane_verify[lane_verify["v_Class"]>1]

4552721 duplicate values have been removed
(2999, 2)

      Vehicle_ID  v_Class
19            24        2
28            36        2
43            51        2
74            86        2
95           108        2
...          ...      ...
2637        2866        2
2643        2872        2
2736        3001        2
2738        3003        2
2742        3007        2

[219 rows x 2 columns]